<!-- Widget [Latest Posts Widget] -->
<ng-container *ngIf="lastPosts">
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
      <ng-container *ngFor="let post of lastPosts">
        <a [routerLink]="['/blog/', post.permalink]">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="/src/assets/img/small-thumbnail-1.jpg" alt="..." class="img-fluid"></div>
            <div class="title">
              <strong>{{post.title}}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i>{{post.views}}</div>
                <div class="comments"><i class="icon-comment"></i>{{post.comments}}</div>
              </div>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</ng-container>
