/*div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}*/


#hide input[type=file] {
  display:none;
  margin:10px;
}
#hide input[type=file] + label {
  display:inline-block;
  margin:20px;
  padding: 4px 32px;
  background-color: #FFFFFF;
  border:solid 1px #666F77;
  border-radius: 6px;
  color:#666F77;
}
#hide input[type=file]:active + label {
  background-image: none;
  background-color:#2D6C7A;
  color:#FFFFFF;
}
